* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: silver;

  --theme-color: rgb(0, 90, 190);
  --whole-width: 842px;
  --aside-width: 170px;
  --main-width: 510px;
  --fontXL: 30px;
  --fontL: 25px;
  --fontM: 16px;
  --fontS: 13px;
  --paper-padding: 80px;

  @media only screen and (max-width: 800px) {
    --whole-width: 100%;
    --aside-width: 100%;
    --main-width: 100%;
  }
}

/* ------------------------- Language Switch ------- */
.lang-switch-btn {
  position: fixed;
  right: 0;
  top: 40px;
  z-index: 10;

  a {
    padding: 8px 5px;
    text-decoration: none;
    font-size: 13px;
    color: var(--theme-color);
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--theme-color);
    background-color: transparent;

    &:hover {
      color: white;
      border: none;
      background-color: var(--theme-color);
    }
  }

  @media only screen and (min-width: 800px) {
    position: sticky;
    align-self: flex-end;
    margin-right: -81px;
    margin-top: -25px;

    a {
      padding: 8px 10px;
    }
  }

  @media print {
    display: none;
  }
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--whole-width);

  margin: 50px auto;
  padding: var(--paper-padding);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: var(--fontM);
  color: rgb(70, 70, 70);
  line-height: 1.5em;

  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  background-color: white;
  box-shadow: 3px 4px 0 rgb(70, 70, 70);

  @media only screen and (max-width: 800px) {
    margin: 0;
    padding: 40px;
  }

  /* ------------------------- general ------- */

  ul {
    list-style: square;
    margin-left: 20px;
  }

  h4,
  .company-name {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .company-name {
    font-weight: 400;
    padding-right: 5px;
  }

  @media only screen and (max-width: 800px) {
    .company-name {
      font-weight: 300;
      padding: 0;
      background-color: transparent;
    }
  }

  /* ------------------------- title section ------- */
  .title {
    margin-bottom: 30px;
    display: flex;

    .portrait-container {
      width: var(--aside-width);
      padding-right: 20px;

      img {
        width: 150px;
        height: 150px;
        border-radius: 3px;
      }
    }

    .info {
      display: flex;
      width: var(--main-width);

      .general-info {
        width: 460px;
        padding-right: 20px;

        h1 {
          text-transform: uppercase;
          padding-top: 5px;
          font-size: var(--fontXL);
          font-weight: 600;
          letter-spacing: 0.05em;
          color: var(--theme-color);
        }

        h2 {
          font-weight: 100;
          color: grey;
          margin: 10px 0;
        }

        p {
          font-size: var(--fontM);
        }
      }

      .contact-info {
        width: 130px;
        height: 90px;
        padding-left: 20px;
        border-left: 2px solid rgb(240, 240, 240);

        a {
          color: var(--theme-color);
          text-decoration: none;
          display: block;
          font-size: var(--fontS);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .title {
      flex-direction: column;
      align-items: center;

      .portrait-container {
        padding: 0;
        display: flex;
        justify-content: center;
      }

      .info {
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .general-info {
          width: 100%;
          padding: 0;
        }

        .contact-info {
          width: 100%;
          height: auto;
          margin-top: 10px;
          padding: 0;
          border-style: none;

          a {
            display: inline-block;
          }

          :nth-child(2)::before,
          :nth-child(3)::before {
            content: '/';
            padding: 0 5px;
            color: grey;
          }
        }
      }
    }
  }

  /* ------------------------- SEE sections ------- */
  .skills,
  .experience,
  .education,
  .other {
    width: calc(var(--whole-width) - var(--paper-padding) * 2 - 2);
    margin-bottom: 20px;
    /* margin-left: auto; */
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      font-weight: 300;
      color: var(--theme-color);

      &:hover {
        text-decoration: underline;
      }
    }

    .sub-title {
      width: var(--main-width);
      margin-left: auto;

      h3 {
        width: var(--main-width);
        margin-bottom: var(--fontS);
        padding-bottom: 5px;

        color: var(--theme-color);
        font-size: var(--fontL);
        font-weight: 100;
        letter-spacing: 0.05em;
        border-bottom: 2px solid rgb(240, 240, 240);
      }
    }

    .sub-container {
      display: flex;
      margin-bottom: 20px;

      .aside {
        width: var(--aside-width);
        text-align: right;
        padding-right: 20px;

        .year {
          font-weight: 300;
        }
      }

      .details {
        width: var(--main-width);
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .skills,
    .experience,
    .education,
    .other {
      width: 100%;

      .sub-title {
        width: 100%;
      }

      .sub-container {
        flex-direction: column;

        .aside {
          display: flex;
          justify-content: space-between;
          text-align: left;
          padding: 0;

          a {
            display: none;
          }
        }

        .details {
          margin: 5px 0 20px 0;
        }
      }
    }

    .experience,
    .education {
      .sub-container {
        border-bottom: 1px solid rgb(240, 240, 240);

        :last-child {
          border-bottom: none;
        }
      }
    }
  }

  @media print {
    width: 842px;
    padding: 0;
    border: none;
    box-shadow: none;
    /* .experience{
      .sub-container {
        margin-bottom: 40px;
      }
    } */
  }
}
